/* required for containers to inherit vertical size from window */
// html.use-iso,
// body.use-iso {
//   height: 100%;
// }

html,
body {
	height: 100%;
}

.container {
	min-width: 900px;
	margin: 0 130px;
  	padding: 5px;
  	margin-bottom: 20px;
  	overflow: visible !important;
}

.wrapper {
	margin: 94px 130px 0;
  	padding: 0 5px 5px;
}

.cart-container {
	position: fixed;
	left: 20px;
	top: 36px;
	z-index: 999;
	width: 40px;
	text-align: right;
}

.search-container {
	position: fixed;
	right: 36px;
	top: 35px;
	z-index: 999;
}

.main-nav-container {
	position: fixed;
	left: 31px;
	top: 150px;
}

.open-main-nav .main-nav-container {
	display: none;
}

.tertiary-subnav-con {
	position: fixed;
	right: 38px;
	top: 150px;
}
