/* required for containers to inherit vertical size from window */
// html.use-iso,
// body.use-iso {
//   height: 100%;
// }

html,
body {
	height: 100%;
}

.container {
	margin: 0 130px;
  	padding: 5px;
  	margin-bottom: 20px;
  	overflow: visible !important;
}

.wrapper {
	width: 100%;
	margin: 94px 0 0;
	padding: 0 154px 2em;
}

// .home-invisible {
// 	visibility: hidden;
// }


.cart-container {
	position: fixed;
	left: 20px;
	top: 36px;
	z-index: 999;
	width: 40px;
	text-align: right;
}

// .homepage .cart-container {
// 	display: none;
// }

.search-container {
	position: fixed;
	right: 36px;
	top: 35px;
	width: 140px;
	height: 21px;
	z-index: 999;
	overflow: hidden;
}

// .homepage .search-container {
// 	display: none;
// }

.main-nav-container {
	position: fixed;
	left: 31px;
	top: 150px;
}

.open-main-nav .main-nav-container {
	display: none;
}

.tertiary-subnav-con {
	position: fixed;
	right: 38px;
	top: 150px;
}

 .info-tertiary {
 	top: 239px;
 }
