.cart-link {
	display: block;
	z-index: 999;
	width: 17px;
	height: 33px;
	background: siu("s3.svg") no-repeat -417px -7px;
	background-size: 443px 162px;
	float: right;
}

.no-svg .cart-link {
	background: siu("s3.png") no-repeat -417px -7px;
}

.cart-container:hover .cart-link,
.cart-link:hover {
	background-position: -417px -51px;
}

.cart-count {
	margin-right: 3px;
	float: right;
	line-height: 33px;
	color: rgb(220, 221, 222);
	text-decoration: none;
}

.cart-container:hover .cart-count,
.cart-count:hover {
	color: rgb(77,77,79);
}

.cart-container.added-item .cart-link,
.added-item .cart-link {
	background-position: -417px -51px;
}

.cart-container.added-item:hover .cart-link,
.added-item .cart-link:hover {
	background-position: -417px -7px;
}

.added-item .cart-count {
	color: rgb(77,77,79);
}
.added-item:hover .cart-count,
.added-item .cart-count:hover {
	color: rgb(220, 221, 222);
}