.homepage-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgb(240,240,240);
}

.homepage-container .flexslider {
	width: 100%;
	height: 100%;
}
.flexslider a {
	width: 100%;
	height: 100%;
	text-align: center;
}
.flexslider img {
	min-height: 100%; 
	min-width: 100%; 
	max-width: 10000%;
}

.homepage-container .flexslider .slides li {
	width: 100%;
	height: 100%;
	text-align: center;
}

.homepage-container .flexslider .slides {
	width: 100%;
	height: 100%;
}

.slide-holder {
	.slide-holder { overflow:hidden; position:relative; width:100%;height:100%;}
}