.int-section {
	width: 742px;
	min-height: 394px;
	margin: 0 auto;
	padding: 88px 110px;
	background: rgb(243, 243, 243);
	font-size: 10px;
	line-height: 1.6;
	letter-spacing: 1px;
	color: rgb(78, 78, 80);

}

.int-section {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 1px;
	}

	a {
		color: rgb(78, 78, 80);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/* interior centered content  */
.int-center-sub {
	margin-bottom: 20px;
	text-align: center;

	h2 {
		margin-bottom: .25em;
	}
}

/* shared interior classes */

.interior-full-page-image {
	width: 100%;
	height: auto;
}

/* about page */
.about-section {
	position: relative;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

.about-content {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	top: 53%;
	text-align: center;
}

/* stockists page */
.stockist-section {
	position: relative;
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;
}

.stockist-content {
	position: absolute;
	left: 125 / 742 * 100%;
	top: 200 / 582 * 100%;
	text-align: center;
}

/* moodboard pages */
.moodboard-section {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
	padding: 0;

	img {
		width: 100%;
		height: auto;
	}

	p,

	div {
		padding: 0;
		margin: 0;
	}
}