/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope .isotope-item {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, left, top, height, width;
     -moz-transition-property:    -moz-transform, opacity, left, top, height, width;
      -ms-transition-property:     -ms-transform, opacity, left, top, height, width;
       -o-transition-property:      -o-transform, opacity, left, top, height, width;
          transition-property:         transform, opacity, left, top, height, width;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Isotope styles ****/



.element {
  width: 110px;
  height: 110px;
  margin: 2px;
  float: left;
  overflow: hidden;
  position: relative;
  background: rgb(243, 243, 243);
  color: #222;
}



.element * {
  position: absolute;
  margin: 0;
}

$full_scale: 300px;

.element img { width:auto; height:auto; z-index:10;}
.element img.rings, .element img.rings.animation { width: $full_scale * .35; height:auto;}
.element img.necklaces { width: $full_scale * 1; height:auto;}
.element img.hoops {width: $full_scale * .53; height: auto;}
.element img.earrings { width: $full_scale * .5; height:auto;}
.element img.studs { width: $full_scale * .29; height:auto;}
.element img.pendants { width: $full_scale * 1; height:auto;}
.element img.special { width: $full_scale * 1; height: auto;}
.element img.bracelets, .element img.bracelets.animation { width: $full_scale * .55; height:auto;}
.element img.animation { z-index:9; }

.element.expanded .product-main-image-con img { position: static;}
.element.expanded .product-main-image-con img.rings, 
.element.expanded .product-main-image-con img.rings.animation,
.element.expanded .product-main-image-con img.necklaces, 
.element.expanded .product-main-image-con img.hoops,
.element.expanded .product-main-image-con img.earrings,
.element.expanded .product-main-image-con img.studs,
.element.expanded .product-main-image-con img.pendants,
.element.expanded .product-main-image-con img.special,
.element.expanded .product-main-image-con img.bracelets, 
.element.expanded .product-main-iamge-con img.bracelets.animation { position: static; width: 100%; height:auto;}
.element.expanded .product-main-image-con img.animation { z-index:9; }

.product-data-left { top:70px; left:0; width:150px; height: 360px; background:url('product-left.png') no-repeat; background-size: 100% 100%;}
.product-data-right { top:70px; right:-2px; width:369px; height: 360px; background:url('product-right.png') no-repeat; background-size: 100% 100%;}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}

.clickable .element:hover h2 {
  color: white;
}

.element.expanded {
  z-index: 999;
}

.collection-product-title-price {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 8px 24px 8px;
  background: rgb(77, 77, 79);
}
.element:hover .collection-product-title-price {
  display: block;
}

.element.expanded:hover .collection-product-title-price {
  display: none;
}

.collection-product-title,
.collection-product-price {
  position: static;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}