.main-nav-btn {
	position: fixed;
	display: block;
	left: 38px;
	top: 85px;
	z-index: 9999;
	width: 17px;
	height: 17px;
	background: siu("s2.svg") no-repeat -60px -6px;
	background-size: 613px 162px;
}

.no-svg .main-nav-btn {
	background: siu("s2.png") no-repeat -60px -6px;
}

.homepage .main-nav-btn {
	background-position: -60px -51px;
}

.main-nav-container {
	z-index: 9999;
}

.main-nav-btn:hover {
	background-position: -60px -27px;
}

.open-main-nav .main-nav-btn {
	background-position: -36px -6px;
}

.open-main-nav.homepage .main-nav-btn {
	background-position: -36px -51px;
}

.open-main-nav.homepage .main-nav-btn:hover,
.open-main-nav .main-nav-btn:hover {
	background-position: -36px -27px;
}




.main-nav {
	margin: 0;
	padding: 0;
	list-style: none;

	text-align: right;
}

.main-nav li {
	width: 17px;
	margin-bottom: 54px;
	text-align: left;
	
}

.shop-link-btn {
	display: block;
	width: 17px;
	height: 35px;
	background: siu("s3.svg") no-repeat -386px -7px;
	background-size: 443px 162px;
	border-left: 4px solid transparent;
}

.no-svg .shop-link-btn {
	background: siu("s3.png") no-repeat -386px -7px;
}

.shop-link-btn:hover,
.is-open .shop-link-btn {
	border-right: 4px solid rgb(77, 77, 79);
}
 
.info-link-btn {
	display: block;
	width: 17px;
	height: 31px;
	background: siu("s3.svg") no-repeat -351px -7px;
	background-size: 443px 162px;
	border-right: 4px solid transparent;
}

.no-svg .info-link-btn {
	background: siu("s3.png") no-repeat -351px -7px;
}


.info-link-btn:hover,
.is-open .info-link-btn{
	border-right: 4px solid rgb(77, 77, 79);
}
 
.follow-link-btn {
	display: block;
	width: 17px;
	height: 64px;
	background: siu("s3.svg") no-repeat -320px -7px;
	background-size: 443px 162px;
	border-right: 4px solid transparent;
}

.no-svg .follow-link-btn {
	background: siu("s3.png") no-repeat -320px -7px;
}

.follow-link-btn:hover,
.is-open .follow-link-btn {
	border-right: 4px solid rgb(77, 77, 79);
}

.customer-care-link-btn {
	display: block;
	width: 17px;
	height: 110px;
	background: siu("s3.svg") no-repeat -290px -7px;
	background-size: 443px 162px;
	border-right: 4px solid transparent;
}

.no-svg .customer-care-link-btn {
	background: siu("s3.png") no-repeat -290px -7px;
}

.customer-care-link-btn:hover,
.is-open .customer-care-link-btn {
	border-right: 4px solid rgb(77, 77, 79);
}