.open-search-btn {
	position: fixed;
	display: block;
	right: 36px;
	z-index: 9999;
	width: 21px;
	height: 19px;
	background: siu("s3.svg") no-repeat -7px -6px;
	background-size: 443px 162px;
}
.no-svg .open-search-btn {
	background: siu("s3.png") no-repeat -7px -6px;
}

// .homepage .open-search-btn {
// 	background-position: -7px -49px;
// }

.open-search-btn:hover {
	background-position: -7px -26px;
}

.search-box {
	position: absolute;
	left: -140px;
	top: 0;
	width: 106px;
	-webkit-transition: left 400ms ease-out;
	   -moz-transition: left 400ms ease-out;
         -o-transition: left 400ms ease-out;
            transition: left 400ms ease-out;
}

.search-box.search-showing {
	left: 0;
}

#search-field {
	width: 106px;
	float: left;
	padding: 3px 0;
	margin-right: 4px;
	border: none;
	border-bottom: 1px solid rgb(220, 221, 222);
	color: rgb(77, 77, 79);
	background: none;
	font-size: 11px;
	line-height: 1;
	text-transform: lowercase;
	font-weight: 300;
	letter-spacing: 1px;
}

::-webkit-input-placeholder {
   color: rgb(77, 77, 79);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(77, 77, 79);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: rgb(77, 77, 79); 
}

#search-field:focus {
	outline: none;
}