.subnav {
	min-width: 80px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 1.6;
	font-weight: 300;
	color: rgb(220, 221, 222);
	text-transform: lowercase;
}
.subnav li {
	text-align: left;
}
.subnav a {
	color: rgb(220, 221, 222);
	text-decoration: none;
	font-weight: 300;
}

.mood-nav-active .subnav .moodboard,
.about-nav-active .subnav .about,
.subnav a:hover,
.subnav a.active {
	color: rgb(77, 77, 79);
	font-weight: 400;
}

.subnav-con {
	position: absolute;
	display: none;
	left: 23px;
}

.shop-links {
	top: -5px;
}
.homepage .shop-links .subnav li:first-child a {
	color: rgb(77, 77, 79);
}
.info-links {
	top: 84px;
}

.follow-links {
	top: 169px;
}

.customer-care-links {
	top: 287px;
}

.shop-links-open .subnav-con.shop-links,
.info-links-open .subnav-con.info-links,
.customer-care-links-open .subnav-con.customer-care-links {
	display: block;
}

/* sub collections subnav */

.vertical-rail {
	display: block;
	float: right;
	width: 4px;
	height: 34px;
	background: rgb(77,77,79);
}

.tertiary-subnav.subnav {
	margin-top: -5px;
	padding-right: 10px;
	letter-spacing: 0;
}

.tertiary-subnav  li {
	text-align: right;
}

@media screen and (min-height:500px) {
	.shop-links {
		top: -5px;
	}
	
	.info-links {
		top: 114px;
	}
	
	.follow-links {
		top: 229px;
	}

}