{{ page.content }}
<article class="int-section press-section invisible">
	<div class="main-press-img">
		
	</div>
	<h1 class="press-title">
		Press Title
	</h1>
	<h2 class="press-date">
		october 2013
	</h2>
	<div class="press-product-link-con"><a href="#product-link" class="press-product-link invisible">Shop This Piece</a></div>
	<a href="#previous-article" class="product-prev-btn ir">Previous Article</a>
    <a href="#next-article" class="product-next-btn ir">Next Article</a>
</article>