<article class="int-section lookbook-section invisible">
	<div class="royalSlider lookbook-slider rsMinW">
		{{ page.content }}		
	</div>
	<a href="{{ prev_link }}" class="product-prev-btn ir">Previous Product</a>
    <a href="{{ next_link }}" class="product-next-btn ir">Next Product</a>
</article>