<article class="int-section contact-section">
	{% if settings.show_contact_image %}
		<img class="interior-full-page-image" src="{{ 'contact_image.jpg' | asset_url }}" alt="">
	{% endif %}
	<div class="contact-content">
		{{ page.content }}
	</div>
</article>